.label{
    color: white;
}

.valor{
    font-weight: bolder;
    color: white;
    margin-left: 1rem;
}

.linha{
    border-radius: 5px;
    background-color: rgb(24, 203, 248);
    margin-bottom: 1rem;
}

.texto-nowrap{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.container{
    
}

.img-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}