<ion-grid class="ion-no-margin">
  <ion-row>
    <ion-col class="bloco" size="12">
      <ion-row>
        <ion-col>
          <ion-text color="primary">
            <p class="nome-remedio">Nome do remédio</p>
          </ion-text>
        </ion-col>
        <ion-col class="container-progress-bar">
          <ion-progress-bar value="0.5" color="" class="progress-bar ion-no-margin"></ion-progress-bar>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>




<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
